/* Navbar */
.nav .navbar-nav {
  font-size: 15px;
  background-color: rgb(45, 45, 212);
}
#searchForm {
  margin-right: 100px;
}
@media (max-width: 1200px) {
  #searchForm {
    display: none;
  }
}
